@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
 --secondary-font: 'Open Sans', sans-serif;
 --main-color: #09C1FF;
 --shade: #0791BF;
}

body {
  margin: 0;
  font-size: 25px;
  font-family: var(--secondary-font);
}

/*--NAV--*/
img.logo {
  height: 2rem;
}

nav {
  font-size: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

nav li {
  display: inline;
  width: fit-content;
  padding: 15px;
}

nav ul {
  padding: 0;
  display: inline;
}

nav li a {
text-decoration: none;
color: black;
}

nav li a:hover{
text-decoration: underline;
text-decoration-color: var(--main-color);
}
.nav {
  display: fle;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoImg span {
  position: relative;
  top: -10px;
  font-weight: 800;
}

.homeButton {
  color: var(--main-color);
}

/*Header*/
header {
  background-image: url(https://images.unsplash.com/photo-1633113214735-2cd84b3587ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: 100%;
  background-position: bottom;
  height: 85vh;
  background-repeat: no-repeat;
  color: white;
  padding: 2rem;
}
header div {
  transform: translateY(50%);
}

header h1 {
  width: 50%;
  font-size: 3.2rem;
  text-shadow: 2px 2px 5px black;
 
}

/* BANNER */
.banner {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0rem;
  color: white;
}

.banner p {
  width: 50%;
}

.banner h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2.5rem;
  width: 54%;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: solid 2px white;
}

.banner button {
  width: 12rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: white;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

.banner button:hover {
  background-color: black;
  color: white;
}

/* Banner Two */
.bannerTwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.2rem;
  gap: 10px;
}

.bannerTwo div:nth-child(odd) {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(195,240,255,1));
}

.bannerTwo div {
  padding: 10px;
}

.bannerTwo img {
  width: 10rem;
  height: auto;
  position: relative;
  left: 28%;
}

.bannerTwo h3 {
  text-align: center;
}

/* testimonial banner */
.testimonialGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  margin: 50px;
}

.testimonials {
  background-image: linear-gradient(white, black);
  height: 50rem;
  color: white;
}

.testimonialGrid div {
background-color: rgba(9, 193, 255, .7);
padding: 10px;
}

.testimonials h2{
  text-align: center;
  padding-top: 2rem;
  color: black;
  font-size: 3rem;
  text-shadow: 2px 5px 5px grey;
  font-weight: 700;
}

.testimonials h3 {
  font-size: 1rem;
}

.testimonials p::before {
  content: url('https://img.icons8.com/small/32/000000/comments.png');
  position: relative;
  right: 5px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
}

address * {
  margin: 0rem;
}

.footerMargin {
  margin: 2rem 0 1rem;
}

.footerMargin::after {
  content: "-";
  margin-left: 5px;
}

#copy {
  margin-top: 2rem;
}

address a {
  color: inherit;
}

address a:hover {
  color: var(--shade);
}

/* Form */
form {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  "header header"
  "name lname"
  "email email"
  "message message"
  "button button";
  gap: 10px;
  border: 1px white solid;
}

form input {
  height: 30px;
  caret-color: var(--main-color);
  font-family: inherit;
}

form label {
  width: 100%;
}

.header {
  grid-area: header;
  text-align: center;
}

.firstName {
  grid-area: name;
}

.lastName {
  grid-area: lname;
}

.email {
  grid-area: email;
}

.email input {
  width: 100%;
}

.message {
  grid-area: message;
}

.message textarea {
  width: 100%;
  caret-color: var(--main-color);
}

.message label {
  display: block;
}

.button {
  grid-area: button;
}

button {
  width: 10rem;
  height: 3rem;
  margin: 0 auto;
  color: inherit;
  background-color: var(--main-color);
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
background-color: var(--shade);
}

button:active {
  background-color: var(--main-color);
}
